/*---------------------------------*/
/*----------BASIC SETUP------------*/
/*---------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	background-color: #fff;
	color: #6F1E51;
	font-family: 'Merriweather', serif, 'Arial';
	font-weight: 400;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

/*---------------------------------*/
/*------------REUSABLE-------------*/
/*---------------------------------*/

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
	background-color: #eab2d6;
}

.box {
	padding: 1%;
}

/*----Headings---*/

h1, h2 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

h1 {
	margin-top: 0;
	color: #fff;
	font-size: 250%;
	word-spacing: 3px;
	text-shadow: 2px 2px #000;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: left;
	margin-left: 40px;
}

h3 {
	margin-left: 40px;
}

h3:after {
	display: block;
	height: 4px;
	background-color: #6F1E51;
	content: " ";
	width: 950px;
	margin-top: 20px;
}

/*----Paragraphs---*/

p.brief-blurb {
	margin: 40px 0 0 40px;
	line-height: 140%;
	width: 105%;
}

/*----Animations---*/


/*----Buttons---*/

.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 10px;
	font-weight: 600;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, color 0.2s;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 4px solid #6F1E51;
	color: #6F1E51;
	background-color: rgba(255, 255, 255, 0.6);
}

.btn:hover,
.btn:active {
	background-color: rgba(71, 19, 52, 0.6);
	color: #fff;
}

/*---------------------------------*/
/*-------------HEADER--------------*/
/*---------------------------------*/

header {
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.web-dev {
	font-style: italic;
	text-transform: none;
	font-size: 200%;
	text-shadow: 2px 2px #000;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

header .crossfade > figure {
	animation: imageAnimation 30s linear infinite 0s;
	backface-visibility:visible;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: rgba(202, 58, 149, 0.2);
	height: 100vh;
	opacity: 0;
	position: absolute;
	width: 100%; 
	z-index: 0;
}

.crossfade > figure:nth-child(1) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/elephant-art.jpg);
}

.crossfade > figure:nth-child(2) {
	animation-delay: 6s;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/stpauldevence.jpg);
}

.crossfade > figure:nth-child(3) {
	animation-delay: 12s;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/graffiti2.jpg);
}

.crossfade > figure:nth-child(4) {
	animation-delay: 18s;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/einstein-love.jpg);
}

.crossfade > figure:nth-child(5) {
	animation-delay: 24s;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/ape-cigar.jpg);
}

@keyframes
imageAnimation { 0% {
	animation-timing-function: ease-in;
	opacity: 0;
	}
	5% {
		animation-timing-function: ease-out;
		opacity: 1;
	}
	19% {
		opacity: 1;
	}
	27% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/*---------------------------------*/
/*-----------NAVIGATION------------*/
/*---------------------------------*/

/* Main-Nav */

.main-nav {
	float: right;
	list-style: none;
	margin-top: 50px;
	position: absolute;
	margin-left: 700px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	text-decoration: none;
	font-size: 110%;
}

.main-nav li a:hover,
.main-nav li a:active {
	color: #6F1E51;
	font-weight: 600;
	text-shadow: 2px 2px #000;
	transition: color font-weight text-shadow 0.2s;
}

/*---------------------------------*/
/*----------ABOUT Section----------*/
/*---------------------------------*/

.profile-pic {
	background-image: url(bg-images/smart4.jpg);
	height: 250px;
	width: 300px;
	background-size: cover;
	transform: rotate(90deg);
	margin-top: 60px;
	border-radius: 50px;
	border: 5px solid #6F1E51;
	margin-left: 100px;
	opacity: 1;
	transition: opacity 0.3s;
}

.profile-pic:hover {
	background-image: url(bg-images/funny1.jpg);
	transform: background-image 0.2s;
	opacity: 1;
	transition: opacity 0.3s;
}

/*---------------------------------*/
/*--------Projects Section---------*/
/*---------------------------------*/

/*

Ideas:

2. Add the github loho perhaps to the github button

3. On information click, information about the project appears which spans the whole surface? Or have a brief blurb for each already underneath. Only display one at a time. 

*/

section.projects {
	background-color: #f5daeb;
}

.box img{
	width: 100%;
	height: 200px;
	border-radius: 20px;
	border: 3px solid #6F1E51;
	transition: transform 0.8s, opacity 0.8s;
	transform: scale(1.10);
}

.box img:hover{
	transform: scale(1.05);
	opacity: 1;
}

h4 {
	padding: 30px;
	font-size: 90%;
}

section.projects button{
	margin-top: 20px;
}

section.projects p {
	padding-top: 20px;
}

.btn-project:link,
.btn-project:visited {
	border: 3px solid #6F1E51;
	color: #6F1E51;
	background-color: rgba(255, 255, 255, 0.6);
	margin-top: 15px;
}

.btn-project:hover,
.btn-project:active {
	background-color: rgba(71, 19, 52, 0.6);
	color: #fff;
}

.btn-project:link,
.btn-project:visited {
	padding: 5px 5px;
	text-decoration: none;
	border-radius: 10px;
	transition: background-color 0.2s, color 0.2s;
}

/*---------------------------------*/
/*--------Contact Section----------*/
/*---------------------------------*/

/*

Ideas:

2. Details to the left and a corresponding google maps to the right with margin on all sides - matching height on list element

*/

.details {
	padding-top: 60px;
}

.details li {
	padding-top: 10px;
	padding-left: 40px;
	list-style: none;
	
}

.details li:hover {
	font-size: 110%;
}

.details a {
	text-decoration: none;
	color: #6F1E51;
}

ion-icon{
	padding-right: 5px;
	font-size: 120%;
}

.map {
	width: 42%;
	height: 220px;
	float: right;
	display: inline-block;
	margin-top: -200px;
	margin-right: 15%;
	border: 3px solid #6F1E51;
}

/*---------------------------------*/
/*----------ANIMATIONS-------------*/
/*---------------------------------*/

.js--wp-projects {
	opacity: 0;
}

.js--wp-projects .animated {
	opacity: 1;
}

.js--wp-blurb {
	opacity: 0;
}

.js--wp-blurb .animated {
	opacity: 1;
}

/*---------------------------------*/
/*---------RESPONSIVENESS----------*/
/*---------------------------------*/

@media only screen and (max-width: 1200px){
	.hero-text-box {
	width: 100%;
	padding: 0 5%;
}
	.row {
		padding: 0 2%;
	}
}

@media only screen and (max-width: 1023px){
	body {
		font-size: 18px;
	}
	section {
		padding: 60px 0;
	}
	.main-nav {
	position:relative;
	margin-left: 200px;
}
	.main-nav li {
	margin-left: 30px;
}
	h3 {
	margin-right: 50px;
}
	h3:after {
	width: 600px;
}
	p.brief-blurb {
	margin: 30px 0 0 40px;
	line-height: 120%;
	width: 90%;
}
	.profile-pic {
	height: 230px;
	width: 300px;
	margin-left: 30px;
	margin-top: 80px;
}
}

@media only screen and (max-width: 767px){
	body {
		font-size: 16px;
	}
	.main-nav {
		display: none;
	}
	header .crossfade > figure {
	animation: imageAnimation 25s linear infinite 0s;
}
	.crossfade > figure:nth-child(2) {
	animation-delay: 5s;
}
	.crossfade > figure:nth-child(3) {
	animation-delay: 10s;
}
	.crossfade > figure:nth-child(4) {
	animation-delay: 15s;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg-images/polished-dog.jpg);
}
	.crossfade > figure:nth-child(5) {
	animation-delay: 20s;
}
	h3 {
	margin-right: 10px;
}
	h3:after {
	width: 300px;
}
	.profile-pic {
	margin-left: 5%;
	float: left;
	position: absolute;
}
	p.brief-blurb {
	margin: 400px 0 0 50px;
	line-height: 125%;
	width: 125%;
	float: left;
	position: relative;
}
	section.projects div.row .box {
		width: 50%;
		margin-left: 10%;
	}
	section.projects img {
		width: 80%;
	}
	.map {
	width: 35%;
	height: 200px;
	margin-top: -180px;
	margin-right: 10%;
}
}

@media only screen and (max-width: 600px){
	.map {
	float: left;
	position: absolute;
	margin-left: 6%;
	width: 60%;
	}
	.details li {
	position: relative;
	}
	.details {
	height: 70vh;
}
}


@media only screen and (max-width: 480px){
	.web-dev {
	opacity: 0.8;
}

.hero-text-box {
	opacity: 0.6;
}
	header .crossfade > figure {
	animation: imageAnimation 20s linear infinite 0s;
}
	.crossfade > figure:nth-child(2) {
	animation-delay: 4s;
}
	.crossfade > figure:nth-child(3) {
	animation-delay: 8s;
}
	.crossfade > figure:nth-child(4) {
	animation-delay: 12s;
}
	.crossfade > figure:nth-child(5) {
	animation-delay: 16s;
}
	p.brief-blurb {
	width: 80%;
}
	section.projects img {
	width: 110%;
	}
	section.projects p {
		width: 150%;
	}
}












